:host {
  flex: 1;
}
.wrapper {
  height: 100%;
}

.scrollable-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 89vh;
  width: 60vw;
  //border: 1px solid var(--border-color);
  scroll-behavior: smooth;
  padding: 0.75rem;
  margin: 22px;
  border-radius: 5px;

  //glass
  background: rgba(40, 140, 250, 0.2);
  backdrop-filter: blur(5px);
  border: 3px solid transparent;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

  .content-item {
    padding: 12px 16px;
    //border: 1px solid var(--border-color);
    margin-bottom: 12px;
    border-radius: 8px;
    //background-color: var(--bg-color-secondary);
    border: 3px solid transparent;

    .message-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 6px;
      gap: 5px;

      &.bot-header {
        strong {
          font-size: 15px;
          color: white;
        }

        .timestamp {
          font-size: 12px;
          color: white;
        }
      }

      &.user-header {
        strong {
          font-size: 15px;
          color: var(--strong-text-color);
        }

        .timestamp {
          font-size: 12px;
          color: var(--medium-text-color);
        }
      }
    }

    .message-text {
      margin: 0;
      font-size: 14px;
      line-height: 1.5;
    }

    &.user-message {
      //background-color: var(--bg-color);
      //border-color: var(--border-user-color);
      margin-left: auto;
      max-width: 80%;
      background: rgba(250, 250, 250, 0.7);
      backdrop-filter: blur(10px);
      color: var(--strong-text-color);
    }

    &.bot-message {
      //background-color: var(--bg-color);
      //border-color: var(--border-bot-color);
      margin-right: auto;
      max-width: 80%;
      background: rgba(40, 140, 250, 0.7);
      backdrop-filter: blur(10px);
      color: white;
    }

    &.loading {
      opacity: 0.7;

      em {
        color: var(--medium-text-color);
      }
    }

    &.empty-state {
      text-align: center;
      color: var(--light-text-color);
      border: none;
      background: transparent;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 3px;
  }
}
