:host {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-wrapper {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  border-radius: 50%;

  background: rgba(40, 140, 250, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.logo {
  height: 100%;
  height: 100%;
  object-fit: contain;
}

.sidebar {
  height: 90vh;
  width: 260px;
  display: flex;
  flex-direction: column;

  //background-color: var(--bg-color-secondary);
  //border: 1px solid var(--border-color);

  position: relative;

  box-sizing: border-box;
  margin: 20px;
  margin-top: auto;
  margin-bottom: 1vh;
  border-radius: 12px;

  //glass
  background: rgba(40, 140, 250, 0.2);
  backdrop-filter: blur(5px);
  border: 3px solid transparent;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.sidebar-header {
  padding: 15px;
  flex-shrink: 0;
}

.new-chat-btn {
  width: 100%;
  height: 45px;
  background-color: var(--btn-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  gap: 10px;
  transition: background-color 0.2s;
  font-weight: 800;

  &:hover {
    background-color: var(--btn-color-hover);
  }

  .plus-icon {
    font-size: 20px;
    line-height: 1;
  }
}

.sidebar-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  gap: 5px;
}

.conversation-item {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
  border: 1px solid transparent;

  &:hover {
    //background-color: var(--bg-color-secondary-hover);
    background: rgba(40, 140, 250, 0.5);
    backdrop-filter: blur(10px);
    //border-color: var(--btn-color);
  }
  &.active {
    //background-color: var(--bg-color-secondary-active);
    background: rgba(40, 140, 250, 0.5);
    backdrop-filter: blur(10px);
    //border-color: var(--btn-color);

    .chat-title {
      //color: var(--btn-color);
      color: white;
      font-weight: 600;
    }
    .chat-date {
      color: white;
    }
  }
}

.chat-info {
  overflow: hidden;
  flex: 1;
}

.chat-title {
  display: block;
  font-size: 14px;
  color: var(--strong-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.chat-date {
  font-size: 12px;
  color: var(--medium-text-color);
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  transition: opacity 0.2s, background-color 0.2s;

  &:hover {
    background-color: #ec4253;
  }
}
.conversation-item:hover .delete-btn {
  opacity: 1;
}

.empty-state {
  text-align: center;
  color: var(--strong-text-color);
  padding-top: 20px;
}
