/* You can add global styles to this file, and also import other style files */
@import "app/styles/variables.scss";
@import "primeng/resources/themes/saga-blue/theme.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-family: "Inter";
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
