:host {
  flex: auto;
}

.wrapper {
  height: 100%;
  box-sizing: border-box;
  gap: 15px;
}

.chat-input {
  width: 90%;
  padding: 10px;
  //border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 16px;
  max-width: 70vw;
  //glass
  background: rgba(250, 250, 250, 0.6);
  backdrop-filter: blur(5px);
  border: 3px solid transparent;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  &:focus {
    outline: none;
  }
}

.send-button {
  width: 40px;
  height: 40px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--btn-color-hover);
  }
}

.button-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
