:root {
  --bg-color: white;
  --bg-color-secondary: #f8f9fa;
  --bg-color-secondary-hover: #e9ecef;
  --bg-color-secondary-active: #e3f2fd;
  --header-color: white;
  --border-color: rgb(210, 210, 210);
  --primary-color: rgb(190, 220, 250);
  --primary-color-hover: rgb(150, 200, 250);

  --btn-color: #007bff;
  --btn-color-hover: #0056b3;

  --strong-text-color: #333;
  --medium-text-color: #666;
  --light-text-color: #999;

  --border-user-color: rgb(210, 210, 210);
  --border-bot-color: #007bff;

  --scrollbar-track: white;
  --scrollbar: grey;
}
